<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # ถ้าไม่มีไฟล์หรือโฟลเดอร์จริง ให้ไปที่ index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [L,QSA]
</IfModule>